@using System.Text.Json
@using HorsesForCourses.MVC.Models.Courses
@model UpdateRequiredSkillsViewModel

<h2>Update Required Skills</h2>

<h3>@Model.Name</h3>

<form asp-action="UpdateRequiredSkills" method="post" asp-antiforgery="true">
    <div asp-validation-summary="ModelOnly"></div>
    <div id="skills-list"></div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>

<a asp-action="Index" class="btn btn-secondary">Back to list</a>

@section Scripts {
    <script type="module">
        import { renderItemList } from '/js/Lists/item-list.js';
        import { html } from '/js/_utils/fabrication-facility.js';
        (function () {
            let skills = @Html.Raw(JsonSerializer.Serialize(Model.Skills));
            renderItemList(
                'Required Skills',
                'Add Required Skill',
                skills,
                () => '',
                (skill, ix) => html('input',
                    {
                        type: 'text',
                        class: 'form-control skill-input',
                        name: `Skills[${ix}]`,
                        value: skill,
                        placeholder: 'New skill'
                    }
                ),
                document.getElementById('skills-list'));
        })();
    </script>
}
