@using System.Text.Json
@using HorsesForCourses.MVC.Models.Coaches
@model UpdateSkillsViewModel

<h2>Update Skills</h2>

<h3>@Model.Name</h3>

<h4>@Model.Email</h4>

<form asp-action="UpdateSkills" method="post" asp-antiforgery="true">
    <div asp-validation-summary="ModelOnly"></div>
    <div id="skills-list"></div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>

<a asp-action="Index" class="btn btn-secondary">Back to list</a>

@section Scripts {
    <script type="module">
        import { renderSkillList } from '/js/Lists/skill-list.js';
        (function () {
            let skills = @Html.Raw(JsonSerializer.Serialize(Model.Skills));
            renderSkillList('Skills', 'Add Skill', skills, document.getElementById('skills-list'));
        })();
    </script>
}
